body{
    border: 2px solid crimson;
    margin: 0;
    padding: 20px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-style: oblique;
    font-variant: small-caps;
    color: black;
    text-align: center;
    text-decoration: underline;
    text-transform: none;
    border: 2px solid;
    border-radius: 15px 0px;
    margin: 20px 70px;
    padding-bottom: 6px;
    background-color: crimson;
    background: linear-gradient(rgb(220, 20, 60), rgba(0, 0, 0, 0.795));
}

 p{
    text-indent: 1cm;
 }
 
 img{
    width: 30%;
    padding-left: 180px;
 }